<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Details</title>
    <link th:href="@{/css/allPet.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>All Pets</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Breed</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pet : ${pets}">
            <td th:text="${pet.name}"></td>
            <td th:text="${pet.breed}"></td>
            <td th:text="${pet.gender}"></td>
            <td th:text="${pet.age}"></td>
            <td th:text="${pet.description}"></td>
            <td>
                <form th:action="@{/pet/delete/{itemId}(itemId=${pet.id})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <form th:action="@{/pet/addToAdapt/{itemId}(itemId=${pet.id})}" method="post">
                    <button type="submit">Adopt</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
