<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Pet</title>
    <link th:href="@{/css/PetRegistration.css}" rel="stylesheet">


    <th:block th:insert="fragments/header"/>
</head>
<body>
<h2>Add Pet</h2>
<form action="#" th:action="@{/pet/addPet}" th:object="${pet}" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" th:field="*{name}" required><br>

    <label for="breed">Breed:</label><br>
    <input type="text" id="breed" th:field="*{breed}" required><br>

    <label for="gender">Gender:</label><br>
    <select id="gender" th:field="*{gender}" required>
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
    </select><br>

    <label for="age">Age:</label><br>
    <input type="number" id="age" th:field="*{age}" required><br>

    <label for="description">Description:</label><br>
    <textarea id="description" th:field="*{description}" required></textarea><br>

    <button type="submit">Submit</button>
</form>
</body>
</html>
